@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-100: 228 11% 90%;
    --gray-200: 228 11% 80%;
    --gray-300: 228 11% 70%;
    --gray-400: 228 11% 60%;
    --gray-500: 228 11% 50%;
    --gray-600: 228 11% 40%;
    --gray-700: 228 11% 30%;
    --gray-800: 228 11% 20%;
    --gray-900: 228 11% 10%;
    --gray-background: 180 17% 98%;
    --gray-black: 220 15% 5%;
  }

  .dark {
    --gray-100: 228 11% 10%;
    --gray-200: 228 11% 20%;
    --gray-300: 228 11% 30%;
    --gray-400: 228 11% 40%;
    --gray-500: 228 11% 50%;
    --gray-600: 228 11% 60%;
    --gray-700: 228 11% 70%;
    --gray-800: 228 11% 80%;
    --gray-900: 228 11% 90%;
    --gray-background: 220 15% 5%;
    --gray-white: 180 17% 98%;
  }
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

*:not(html) {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--gray-200)) transparent;
}

html::-webkit-scrollbar {
  display: none;
}
